# Ports
API_PORT=
PORT=
NODE_ENV=

# Postgres DB Configurations
DB_PORT=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_LOGGING=

# Azure AD 
CLIENT_ID=
TENANT_ID=

# JWT
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRATION=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRATION=

#AWS S3
APP_ACCESS_KEY=
APP_SECRET_KEY=
S3_BUCKET_NAME=
S3_BUCKET_REGION=